@import "./reset.css";

@font-face {
  font-family: "Gilam";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/GilamBook-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Gilam";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/GilamRegular-500.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/GilamBold-700.woff2");
  font-display: swap;
}

:root {
  --color1: #fff;
  --color2: #000;
  --color3: #171717;
  --color4: #0e0e0e;
  --color5: #e4b564;

  --color6: #634f2c;
  --color7: #b4a385;
  --color8: #635a4a;
  --color9: #b08c4d;

  --color10: #242424;
  --color11: #1f1f1f;
  --color12: #0a0909;

  --color13: rgba(232, 210, 171, 0.76);
}

body {
  font-family: "Gilam", sans-serif;
  color: var(--color1);
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  background-color: var(--color3);
}

.container {
  width: 90%;
  max-width: 1460px;
  margin: 0 auto;
}

/* COLORS */

.yellow-brend {
  background-color: var(--color5);
}

.brown-light {
  background-color: var(--color9);
}

.brown-dark {
  background-color: var(--color6);
}

.beige-light {
  background-color: var(--color13);
}

.beige-middle {
  background-color: var(--color7);
}

.beige-dark {
  background-color: var(--color8);
}

.black-light {
  background-color: var(--color10);
}

.black-middle {
  background-color: var(--color11);
}

.black-dark {
  background-color: var(--color4);
}

.black-rich {
  background-color: var(--color12);
}

/* SECTION 1: HEADER */

header {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 90px;
}

header > img {
  width: 357px;
}

.feedback-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid var(--color5);

  color: var(--color5);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
}

.feedback-link::before {
  content: "";
  background-image: url(../img/phone-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  /* border: 1px solid; */
}

/* ARTICLE 1 */

h2 {
  font-size: 50px;
}

h3 {
  line-height: 28px;
  margin: 42px 0;
}

.networks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 160px;
}

.networks-block {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 470px);
  gap: 30px;
  width: 100%;
}

.net-type1 {
  grid-column-end: span 2;
}

.net-type2 {
  grid-column-end: span 3;
}

.networks-block > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 44px;
}

.networks-block p {
  line-height: 28px;
  text-align: center;
}

/* ARTICLE 2 */

.build {
  margin-bottom: 190px;
}

.build-block {
  /* height: 900px; */
  margin-top: 95px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 260px 30px 100px 135px 275px;
  gap: 25px 30px;
}

.build-block > div {
  padding-top: 45px;
  padding-left: 50px;
}

.build-block p {
  font-weight: 400;
}

.build-block p span {
  font-weight: 700;
}

.build-block p.excavator {
  color: var(--color2);
  font-weight: 500;
}

.build-type1 {
  /* height: 315px; */
  grid-row-start: 1;
  grid-row-end: 3;
}

.build-type2 {
  /* height: 440px; */
  grid-row-start: 1;
  grid-row-end: 4;
}

.build-type3 {
  /* height: 260px; */
  grid-row-start: 1;
  grid-row-end: 2;
}

.build-type4 {
  /* height: 560px; */
  grid-row-start: 3;
  grid-row-end: -1;
}

.build-type5 {
  /* height: 410px; 
  435px with padding 25px */

  grid-row-start: 4;
  grid-row-end: -1;
  margin-bottom: 25px;
}

.build-type6 {
  /* height: 315px; */
  grid-row-start: 2;
  grid-row-end: 5;
}

.build-type7 {
  /* height: 275px; */
  grid-row-start: 5;
  grid-row-end: -1;
}

/* SECTION 2 */

.clients-section {
  display: flex;
  align-items: flex-end;
  height: 1054px;
  background-color: var(--color4);
  margin-bottom: 240px;
}

.clients-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
}

.clients-link {
  color: var(--color5);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid var(--color5);
}

.clients-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 390px 390px;
}

.clients-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-item.flex-clmn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

.clients-item-text {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  padding: 0 80px;
}
